extends layout

block content
    .container
        h1 About Us
        p 어쩌고 저쩌고 어쩌고 저쩌고 어쩌고 저쩌고 어쩌고 저쩌고  
        ul
            li 어쩌고 저쩌고 1
            li 어쩌고 저쩌고 2
            li 어쩌고 저쩌고 3
        p 어쩌고 저쩌고 어쩌고 저쩌고 어쩌고 저쩌고 어쩌고 저쩌고