extends layout

block content
    .jumbotron
        .container
            h1 어떻게 도와 드릴까요?
            p 어쩌고 저쩌고 어쩌고 저쩌고 어쩌고 저쩌고 어쩌고 저쩌고  
            a.btn.btn-primary.btn-lg(href="#") Learn more &raquo;
    .container
        .row
            .col-md-3
                h3 About Us
                p 저쩌고 어쩌고 저쩌고 어쩌고 저쩌고 어쩌고 저쩌고 어쩌고
                a.btn.btn-default(href="/about") View Detail &raquo; 
            .col-md-3
                h3 Memo
                p 저쩌고 어쩌고 저쩌고 어쩌고 저쩌고 어쩌고 저쩌고 어쩌고
                a.btn.btn-default(href="/memo") View Detail &raquo;
            .col-md-3
                h3 Checklist
                p 저쩌고 어쩌고 저쩌고 어쩌고 저쩌고 어쩌고 저쩌고 어쩌고
                a.btn.btn-default(href="/checklist") View Detail &raquo;
