extends layout

block content
    link(rel='stylesheet', href='/stylesheets/jquery.tagsinput.css')
    script(src='/javascripts/jquery.tagsinput.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
    script(src='/javascripts/jquery-ui.custom.min.js')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.custom.css')

    script(src='http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js')
    link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css')

    .container(ng-app="app_memo", ng-controller="ctr_memo", ng-cloak='')
        .row
            .col-md-12
                label
        .row
            .col-md-12
                form.form-inline
                    .form-group
                        label Search words:&nbsp
                        input.form-control(id='id_searchText', name='id_searchText',
                            ng-keyup="$event.keyCode == 13 ? searchClick() : null",
                            type='text', placeholder='Search words...', ng-model='searchText')
                        .checkbox
                            label
                                input(type="checkbox", ng-model="completeBool")
                                |&nbsp;exclude complete&nbsp;
                        input.btn.btn-default(type='button', value='Search', ng-click='searchClick()')
                        input.btn.btn-default(type='button',value='New post', ng-click='newPostClick()')
        br
        .row
            .col-md-12
                span.badge(style="cursor:pointer", ng-click='searchClick("All")') All
                span.badge(style="cursor:pointer", ng-repeat="item in keywords", ng-click="searchClick(item)", ng-class="{'selected-badge': item == selectedBadge}") {{item}}
        br
        .row
            .col-md-12
                .table-responsive
                    table.table.mytable
                        thead
                            th #
                            th Title
                            th Tags
                            th.un Edit date
                        tbody
                            tr(ng-repeat="item in test_cols", style="cursor:pointer", ng-click='rowClick($index)')
                                td(id='col_index_{{$index}}') {{((curPage - 1) * perPage) + $index + 1}}
                                td(id='col_contents_{{$index}}') {{item.title}}
                                td(id='col_tags_{{$index}}')
                                    span.badge {{item.tags}}
                                td.un(id='col_date_{{$index}}') {{item.edit_date}}
        form.form-inline(method='post', action='/memo/next')
            .form-group
                .row
                    .col-md-12
                        input.btn.btn-default(type='button',value='Previous...', ng-click='prevClick()', ng-show='curPage != 1')
                        input.btn.btn-default(type='button',value='Next...', ng-click='nextClick()')
        br
        form.form-inline(method='post', action='/memo/save', ng-show='editViewBool')
            .form-group
                .row(id='id_editComp')
                    .col-md-12
                        label Title: &nbsp
                        input.form-control(id='id_sel_title', name='sel_title', type='text', ng-model='sel_title', style="width: 100%")
                    .col-md-12
                        label Contents: &nbsp
                        div(id="summernote") {{sel_contents}}
                    .col-md-12
                        label Tags: &nbsp
                        input.form-control(id='id_sel_tags', name='sel_tags', type='text', ng-model='sel_tags', style="width: 100%")
                    .col-md-12
                        label Due date: &nbsp
                        input#inp_date.form-f21(type='text', ng-model='sel_due_date', name='sel_due_date', placeholder='yyyy-mm-dd', style='width: 100%')
                        .checkbox
                            label
                                input(type="checkbox", ng-model="sel_notice_bool", name='sel_notice_bool')
                                |&nbsp;use notice
                    .col-md-12
                        input.btn.btn-default(type='button',value='Save', ng-click='savePost()')
                        input.btn.btn-default(type='button',value='Complete', ng-click='completeClick()', ng-show='completeButtonBool')
                        input.btn.btn-default(type='button',value='Cancel Completion', ng-click='cancelCompletionClick()', ng-hide='completeButtonBool')
                        input.btn.btn-default(type='button',value='Cancel', ng-click='cancleClick()')
                        input.form-control(name='sel_id', type='text', ng-model='sel_id', ng-hide='true')

    script(src='/javascripts/memo.js')
