body {
  padding-top: 50px;
}

.jumbotron {
    background:url(../images/bg.jpg)
}

footer {
    background:#f4f4f4;
    height:40px;
    text-align: center;
    margin-top:30px;
    padding-top: 10px;
    overflow: auto;
}

.mytable tbody tr td{
  max-width:50px; /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.success li {
    padding: 15px;
    margin-bottom: 20px;
    boarder: 1px solid transparent;
    boarder-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    list-style: none;
}

ul.error li {
    padding: 15px;
    margin-bottom: 20px;
    boarder: 1px solid transparent;
    boarder-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    list-style: none;
}

@media (max-width: 480px) {
  .un {
    display:none;
  }
}

#id_sel_contents {
  overflow: scroll;
  max-height: 300px;
}

.selected-badge {
  background-color: orange;
}
